<template>
    <footer style="position: absolute; bottom: 0; left: 0; right: 0;"
        class="text-caption pa-2"
    >
        <span>
            Por
            <a class="primary--text text-decoration-none" href="https://github.com/adejota" target="_blank" rel="noopener noreferrer">
                adejota
            </a>
            |
            <a class="primary--text text-decoration-none" href="https://www.convenia.com.br/" target="_blank" rel="noopener noreferrer">
                Convenia
            </a>
        </span>
    </footer>
</template>

<script>
export default {
    name: 'AppFooter'
}
</script>
